body {
    margin: 0;
    font-family: roboto, system-ui;
    background-color: #1f2937;
    color: white;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.header{
    display: flex;
    gap: 10rem;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    gap: 2rem;
}

.hero-content {
    max-width: 400px;
}

.hero-content h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-content p {
    font-size: 18px;
    color: #E5e7eb;
}

button {
    padding: 0.5 1rem;
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer
}

.hero-image .placeholder {
    width: 300px;
    height: 200px;
    background-color: #64748b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8 rem;
}

.gallery {
    padding: 3rem;
    text-align: center;
}

.gallery h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.gallery-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.gallery-item {
    width: 120px;
}

.gallery-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 2px solid #3882F6;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

.gallery-item p {
    font-size: 18px;
    color: #1f2937;
}

.quote {
    padding: 2rem;
    background-color: #E5e7eb;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    font-size: 36px;
}

blockquote {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}

blockquote footer{
    text-align: right;
    font-style: normal;
    font-weight: bold;
    margin-top: 1rem;
}

.call-to-action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    gap: 2rem;
    background-color:#3882F6;
    border-radius: 8px;
}

.cta-content {
    max-width: 400px;
}

.cta-button button{
    border: 1px solid white;
}

.footer {
    background-color: #1f2937;
}

.footer p {
    font-size: 18px;
    color: #E5e7eb;
}